*,
 ::before,
 ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;

}



.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0, 1.5rem;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(2, 100px);
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .1rem;
    /* grid-template-areas: ; */
}

.image-gallery button {
    width: 100%;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.image-gallery button i {
    /* color: rgba(255,255, .6); */
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: .4rem;
    /* opacity: 0; */
    transition: opacity .5s;
    
}

.image-gallery button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery button:hover i,
.image-gallery button:hover::before {
    opacity: 1;
}

.image-1 {
    grid-area: image-1;
    
}

.box {
    width: 5rem;
    height: 5rem;
}

img {
    width: 24.9rem;
    height: 20rem;
    object-fit: cover;
}

@media all and (max-width: 1250px) {
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media all and (max-width: 1000px) {
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media all and (max-width: 700px) {
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

body.active-modalish {
    /* overflow-y: hidden; */
}

.btn-modalish {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modalish, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modalish-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    max-height: calc(100vh - 170px);
    min-height: calc(100vh);
    overflow-y: auto;
}

.close-modalish {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.close-modalish input {
    position: relative;
}